@media screen and (max-width: 767px) {
    .slide-item_title {
        font-size: 32px;
    }

    .slide-item_subtitle {
        font-size: 16px;
    }

    .multiple-slider {
        padding: 0;
        max-width: 360px;
    }
}
