@media screen and (max-width: 575px) {
    .slide-item .container {
        padding: 0 10px;

    }

    .form-calculation {
        .btn.btn-large {
            min-width: auto;
            width: 100%;
        }
    }


}
