@media screen and (max-width: 991px) {
    header {
        padding: 18px 0;

        .header-logo {
            max-width: 126px;
        }
        .navbar-nav {
            text-align: center;
            margin: 27px auto 41px;

            .nav-item {
                &:first-child {
                    .nav-link {
                        margin-top: 54px;
                    }
                }
                &:last-child {
                    .nav-link {
                        margin-bottom: 0;
                    }
                }
            

                .nav-link {
                    font-weight: 400;
                    font-size: 24px;
                    margin-bottom: 45px;
                    line-height: 1;
                    
                }
            }
        }

       
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        background-color: $second-backgr-color;
        margin: 15px -20px 0;

        .btn { 
            margin-bottom: 60px;
            margin-top: 49px;
            font-size: 16px;
            padding: 22px 85px;
            border: none;
        }
       
    }

    .container-fluid {
        padding: 0;
    }

    .slide-item {
        height: calc(100vh - 72px);
        padding: 187px 12px 60px;
    }

    .slide-item_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slide-item_title {
        text-align: center;
        font-size: 48px;
        margin-bottom: 10px;
    }

    .slide-item_subtitle {
        text-align: center;
        font-size: 18px;
        margin-bottom: 18px;
    }

    .slick-list {
        border-radius: 0;
        
    }

    .btn.btn-large {
        min-width: 295px;
        margin: 0 auto;
        
    }
    
}



