@media screen and (max-width: 1199px) {
    .container-fluid {
        padding: 0 30px;
    }

    .about-img img {
        max-width: 450px;
    }

    .cooperation-picture {
        max-width: 500px;
    
    }

   
}
