* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text-color;
}

body {
    background: $backgr-color;
    font-family: 'Proxima Nova Lt';
}

.container {
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    font-weight: 600;

    &.btn-primary {
        background: $primary-color;
        border-color: $primary-color;
        border-radius: 90px;
        font-size: 15px;
        padding: 14px 27px;
        border: none;
        &:focus {
            box-shadow: none;
        }
        &:hover {
            background-color: $secondary-color;
        }
    }
    &.btn-large {
        min-width: 293px;
        display: flex;
        justify-content: space-between;
        padding: 22px 22px 22px 33px;
        font-size: 16px;
    }
}

.container-fluid {
    width: 100%;
    max-width: 1920px;
    padding: 0 50px;
    margin: 0 auto;
    margin-bottom: $section-mb;
}

.grey-bg-container {
    background-color: $second-backgr-color;
    border-radius: 20px;
}