///fonts///
$font-size: 16px;

///colors///
$primary-color: #E58D35;
$secondary-color: #89C249;
$backgr-color: #282B38;
$second-backgr-color:#363A4D;
$text-color: #ffffff; 

$section-padding: 50px 12px 100px;
$title-margin: 60px;