<section class="about">
    <div class="container">
        <div class="about-content">
            <div class="about-info">
                <div  class="template-title-left after-green animate-title">
                    <h2>
                        О компании
                    </h2>
                </div>
                <div class="about-text">
                    <p>
                        Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже более 11 лет.
                    </p>
                    <p>
                        Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!
                    </p>
                </div>
                
            </div>
            <div class="about-img">
                <picture>
                    <source srcset="assets/img/about-img-mob.png" media="(max-width: 575px)">
                    <img src="assets/img/about-img.png" alt="about-img">
                </picture>
            </div>
        </div>
    </div>
</section>