<section class="advantages container-fluid">
<div class="grey-bg-container">
    <div class="container">
        <div class="template-title animate-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div id="slider-advantages" class="row">
            <div class="advantage col-lg-3">
                <div class="advantage-img">
                    <img src="assets/img/advantage-1.svg" alt="">
                </div>
                <div class="advantage-title">
                    Таможенное оформление груза
                </div>
            </div>
            <div class="advantage col-lg-3">
                <div class="advantage-img">
                    <img src="assets/img/advantage-2.svg" alt="">
                </div>
                <div class="advantage-title">
                    Страховка груза
                </div>
            </div>
            <div class="advantage col-lg-3">
                <div class="advantage-img">
                    <img src="assets/img/advantage-3.svg" alt="">
                </div>
                <div class="advantage-title">
                    Проверка товара на брак
                </div>
            </div>
            <div class="advantage col-lg-3">
                <div class="advantage-img">
                    <img src="assets/img/advantage-4.svg" alt="">
                </div>
                <div class="advantage-title">
                    Доставка в любой город Украины
                </div>
            </div>
            <div class="advantage col-lg-3">
                <div class="advantage-img">
                    <img src="assets/img/advantage-5.svg" alt="">
                </div>
                <div class="advantage-title">
                    Консолидация на складе
                </div>
            </div>
            <div class="advantage col-lg-3">
                <div class="advantage-img">
                    <img src="assets/img/advantage-6.svg" alt="">
                </div>
                <div class="advantage-title">
                    Ответственное хранение груза
                </div>
            </div>
            <div class="advantage col-lg-3">
                <div class="advantage-img">
                    <img src="assets/img/advantage-7.svg" alt="">
                </div>
                <div class="advantage-title">
                    Помощь в оплате товара
                </div>
            </div>
            <div class="advantage col-lg-3">
                <div class="advantage-img">
                    <img src="assets/img/advantage-8.svg" alt="">
                </div>
                <div class="advantage-title">
                    Упаковка, переупаковка, паллетирование груза к международной перевозке
                </div>
            </div>
        </div>

    </div>

</div>
</section>