<section class="calculation">
    <div class="container">
        <div class="form-container">
            <div class="template-title-left after-inline after-green">
                <h2 >Получить рассчет стоимости доставки вашего груза</h2>
            </div>
            <form class="form-calculation">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-box">
                            <label>Категория товара:</label>
                            <input type="text" placeholder="Категория товара">
                        </div>
                        <div class="input-box">
                            <label>Вес груза:</label>
                            <input type="number" placeholder="Вес груза (кг)">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-box">
                            <label>Стоимость груза:</label>
                            <input type="number" placeholder="Введите стоимость">
                        </div>
                        <div class="input-box">
                            <label>Объем груза (м3):</label>
                            <input type="number" placeholder="Введите объем">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-box">
                            <label>Категория товара:</label>
                            <input type="checkbox" placeholder="Категория товара">
                        </div>
                        <div class="input-box">
                            <label>Вес груза:</label>
                            <input type="checkbox" placeholder="Вес груза (кг)">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-box">
                            <label>Код ТН ВЭД:</label>
                            <input type="number" placeholder="Введите код">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-box">
                            <input type="file" name="" id="">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-large">Следующий шаг<img src="assets/img/arrow.svg" alt="arrow"></button>
            </form>
        </div>
       
    </div>

</section>