<section class="calculation">
    <div class="container">
        <div class="template-title-left after-inline after-green animate-title">
            <h2 >Получить рассчет стоимости доставки вашего груза</h2>
        </div>
        <div class="form-container">
            
            <form class="form-calculation">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-box">
                            <label for="category">Категория товара:</label>
                            <input type="text" id="category" name="category" placeholder="Категория товара">
                        </div>
                        <div class="input-box">
                            <label for="weight">Вес груза:</label>
                            <input type="number" id="weight" name="weight" placeholder="Вес груза (кг)">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-box">
                            <label for="price">Стоимость груза:</label>
                            <input type="number" id="price" name="price" placeholder="Введите стоимость">
                        </div>
                        <div class="input-box">
                            <label for="volume">Объем груза (м3):</label>
                            <input type="number" id="volume" name="volume" placeholder="Введите объем">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-box">
                            <input type="checkbox"  id="insurance" name="insurance" value="insurance">
                            <label for="insurance">Страховка</label>
                        </div>
                        <div class="btn-box">
                            <input type="checkbox"  id="decor" name="decor" value="decor">
                            <label for="decor">Таможенное оформление</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-box">
                            <label for="code">Код ТН ВЭД:</label>
                            <input type="number" id="code" name="code" placeholder="Введите код">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-box">
                            <div id="file-name" class="file-name">
                                Имя вашего файла
                            </div>
                            <div class="file-row">
                                <input class="input-file" id="fileInput" name="fileInput" type="file">
                                <label for="fileInput" class="label-file">Загрузить фото товара</label>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-large">Следующий шаг<img src="assets/img/arrow.svg" alt="arrow"></button>
            </form>
            <div class="img-box">
                <img src="assets/img/man-in-helmet.png" alt="">
            </div>
        </div>
       
    </div>

</section>

