<section class="container-fluid cooperation">
    <div class="grey-bg-container">
        <div class="container">
            <div class="template-title after-green animate-title">
                <h2 >
                    Готовы к сотрудничеству?
                </h2>
                <h5 class="template-subtitle">
                    Зарегистрируйте груз!
                </h5>
            </div>
            <div class="cooperation-content">
                <div class="cooperation-first-block">
                    <div class="cooperation-text text-first-block">
                        <ul>
                            <li>
                                Для того, чтобы начать сотрудничество, необходимо оформить груз указав информацию о содержимом груза, его стоимость и количество. А так-же прикрепив фотографии к заявке.
                            </li>
                            <li>
                                Если требуется проверка товара на соответсвие количеству, то при оформлении груза на нашем сайте укажите это в графе "Примечание". Данная услуга платная и составляет 3 юаня за одну позицию в заказе. Любые дополнительные проверки груза обсуждаются индивидуально в том числе и их стоимость.
                            </li>
                            <li>
                                До отправки груза на наш склад в Китае обязательно позаботьтесь о том, чтобы сделать маркировку, с номером Вашего заказа у нас на сайте, для каждой внешней коробки, чтобы мы смогли определить именно Ваш груз. Если у Вас нет возможности сделать это самостоятельно, то попросите об этом своего поставщика.
                            </li>
                        </ul>
                    </div>
                    <div class="cooperation-picture picture-first-block">
                        <picture >
                            <source srcset="assets/img/cooperation-img-1-mob.png" media="(max-width: 575px)">
                            <img class="cooperation-picture" src="assets/img/cooperation-img-1.png" alt="cooperation">
                        </picture>
                    </div>
                </div>
                <div class="cooperation-second-block">
                    <div class="cooperation-picture picture-second-block "> 
                        <picture >
                            <source srcset="assets/img/cooperation-img-2-mob.png" media="(max-width: 575px)">
                            <img class="cooperation-picture" src="assets/img/cooperation-img-2.png" alt="cooperation">
                        </picture>
                    </div>
                    
                    <div class="cooperation-text text-second-block">
                        <ul>
                            <li>
                                После отправки груза на наш склад в Китае, Вам обязательно нужно указать трек-номер для отслеживания посылок по Китаю для каждой позиции в заказе. Внести трек-номер можно на странице заказа. Трек-номер - это ещё одна мера для идентификации Вашего груза на нашем складе.
                            </li>
                            <li>
                                Если Вы оформили груз по нашей инструкции и сделали все правильно, то при получении Вашего груза на складе в Китае статус заказа изменится на "На складе".
                            </li>
                        </ul>
                        <button class="btn btn-primary btn-large">Оформить груз<img src="assets/img/arrow.svg" alt="arrow"></button>
    
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>

</section>