<section class="container-fluid">
    <div class="slide-container">
        <div class="slider">
            <div class="slide-item" style="background-image: url(assets/img/first-screen-img-1.png) ;">
                <div class="slide-item_content container">
                    <div class="slide-item_title">Прямое КАРГО из Китая</div>
                    <div class="slide-item_subtitle">Доставляем любые грузы из Китая по честной цене</div>
                    <button class="btn btn-primary btn-large">Рассчитать стоимость <img src="assets/img/arrow.svg" alt="arrow"></button>
                </div>
            </div>
            <div class="slide-item" style="background-image: url(assets/img/first-screen-img-2.png) ;">
                <div class="slide-item_content container">
                    <div class="slide-item_title">Выкуп товара с ТаоБао, 1688</div>
                    <div class="slide-item_subtitle">Выкуп и доставка товаров с китайских торговых площадок. </div>
                    <button class="btn btn-primary btn-large">Рассчитать стоимость <img src="assets/img/arrow.svg" alt="arrow"></button>
                </div>
            </div>
            <div class="slide-item" style="background-image: url(assets/img/first-screen-img-3.png) ;">
                <div class="slide-item_content container">
                    <div class="slide-item_title">Экспресс авто доставка</div>
                    <div class="slide-item_subtitle">Доставка автотранспортом из Китая от 15 дней, от $0,5/кг</div>
                    <button class="btn btn-primary btn-large">Рассчитать стоимость <img src="assets/img/arrow.svg" alt="arrow"></button>
                </div>
            </div>
            <div class="slide-item" style="background-image: url(assets/img/first-screen-img-4.png) ;">
                <div class="slide-item_content container">
                    <div class="slide-item_title">Прямое КАРГО из Китая</div>
                    <div class="slide-item_subtitle">Доставляем любые грузы из Китая по честной цене</div>
                    <button class="btn btn-primary btn-large">Рассчитать стоимость <img src="assets/img/arrow.svg" alt="arrow"></button>
                </div>
            </div>
        </div>
        <div class="slider-arrows"></div>
    </div>
</section>