<section class="services container-fluid">
    <div class="grey-bg-container">
        <div class="template-title animate-title">
            <h2>Услуги</h2>
        </div>
        <div class="multiple-slider">
            <div class="services-slider_item multiple-slider-item" style="background-image: url(assets/img/services-img-1.png) ;">
                <div class="multiple-slider-item__title">
                    Выкуп товара
                </div>
                <div>
                    <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                </div>
                <button class="btn btn-secondary">Подробнее</button>

            </div>
            <div class="services-slider_item multiple-slider-item" style="background-image: url(assets/img/services-img-2.png) ;">
                <div class="multiple-slider-item__title">
                    Страховка груза
                </div>
                <div>
                    <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                </div>
                <button class="btn btn-secondary">Подробнее</button>

            </div>
            <div class="services-slider_item multiple-slider-item" style="background-image: url(assets/img/services-img-3.png);">
                <div class="multiple-slider-item__title">
                    Перевод денежных средств
                </div>
                <div>
                    <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                </div>
                <button class="btn btn-secondary">Подробнее</button>

            </div>
            <div class="services-slider_item multiple-slider-item" style="background-image: url(assets/img/services-img-4.png);">
                <div class="multiple-slider-item__title">
                    Аренда склада
                </div>
                <div>
                    <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                </div>
                <button class="btn btn-secondary">Подробнее</button>

            </div>
        </div>
        
        
        

    </div>

</section>