<section class="delivery">
    <div class="container-fluid">
        <div class="template-title animate-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="multiple-slider">
            <div class="multiple-slider-item delivery-item">
                <div class="multiple-slider-item__img">
                    <img class="img-fluid" src="assets/img/drlivery-img-1.png" alt="">
                </div>
                <div class="multiple-slider-item__title">Авто - обычная</div>
                <div class="multiple-slider-item__option">
                    <div class="multiple-slider-item__option-item option-item-calendar">9-15 дней</div>
                    <div class="multiple-slider-item__option-item option-item-weight">от 5 кг</div>
                </div>
                <div class="multiple-slider-item__price">
                    <span>от</span> 
                    <strong>2,5</strong> 
                    <span>$/кг</span>
                </div>
                <div class="multiple-slider-item__buttons">
                    <button class="btn btn-primary">Оставить заявку</button>
                    <button class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="multiple-slider-item">
                <div class="multiple-slider-item__img">
                    <img class="img-fluid" src="assets/img/drlivery-img-2.png" alt="">
                </div>
                <div class="multiple-slider-item__title">Авто - ускоренная</div>
                <div class="multiple-slider-item__option">
                    <div class="multiple-slider-item__option-item option-item-calendar">9-15 дней</div>
                    <div class="multiple-slider-item__option-item option-item-weight">от 5 кг</div>
                </div>
                <div class="multiple-slider-item__price">
                    <span>от</span> 
                    <strong>2,5</strong> 
                    <span>$/кг</span>
                </div>
                <div class="multiple-slider-item__buttons">
                    <button class="btn btn-primary">Оставить заявку</button>
                    <button class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="multiple-slider-item">
                <div class="multiple-slider-item__img">
                    <img class="img-fluid" src="assets/img/drlivery-img-3.png" alt="">
                </div>
                <div class="multiple-slider-item__title">Авиа</div>
                <div class="multiple-slider-item__option">
                    <div class="multiple-slider-item__option-item option-item-calendar">9-15 дней</div>
                    <div class="multiple-slider-item__option-item option-item-weight">от 5 кг</div>
                </div>
                <div class="multiple-slider-item__price">
                    <span>от</span> 
                    <strong>2,5</strong> 
                    <span>$/кг</span>
                </div>
                <div class="multiple-slider-item__buttons">
                    <button class="btn btn-primary">Оставить заявку</button>
                    <button class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="multiple-slider-item">
                <div class="multiple-slider-item__img">
                    <img class="img-fluid" src="assets/img/drlivery-img-4.png" alt="">
                </div>
                <div class="multiple-slider-item__title">Ж/д</div>
                <div class="multiple-slider-item__option">
                    <div class="multiple-slider-item__option-item option-item-calendar">9-15 дней</div>
                    <div class="multiple-slider-item__option-item option-item-weight">от 5 кг</div>
                </div>
                <div class="multiple-slider-item__price">
                    <span>от</span> 
                    <strong>2,5</strong> 
                    <span>$/кг</span>
                </div>
                <div class="multiple-slider-item__buttons">
                    <button class="btn btn-primary">Оставить заявку</button>
                    <button class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="multiple-slider-item">
                <div class="multiple-slider-item__img">
                    <img class="img-fluid" src="assets/img/drlivery-img-5.png" alt="">
                </div>
                <div class="multiple-slider-item__title">Море</div>
                <div class="multiple-slider-item__option">
                    <div class="multiple-slider-item__option-item option-item-calendar">9-15 дней</div>
                    <div class="multiple-slider-item__option-item option-item-weight">от 5 кг</div>
                </div>
                <div class="multiple-slider-item__price">
                    <span>от</span> 
                    <strong>2,5</strong> 
                    <span>$/кг</span>
                </div>
                <div class="multiple-slider-item__buttons">
                    <button class="btn btn-primary">Оставить заявку</button>
                    <button class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
        </div>
        

    </div>

</section>